<div style="padding-left: 5%; padding-right: 20%; font-family:courier;font-family:courier;">
    <h1 class="text-center"><b>AVISOS LEGALES</b></h1>
    <p><b><i>De acuerdo con el <u>artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de
    Comercio Electrónico</u> ponemos a su disposición los siguientes datos:</i></b>
    <br>
    Stocker inscrita en el Registro Mercantil de Madrid cuyo principal objetivo es facilitar a los clientes y al público en 
    general la información relativa a la empresa, a los productos y servicios que se ofrecen.</p>
</div>
